:root
{
    --main-bg-color:#2C2C2C;
    --main-text-color:#F2F2F2;
    --secondary-color:#1E1E1E;
    --highlight-color:#FF9500;
    --yellow-bg-color: #FFDA78;
}
.movie-image
{
    width: 100%;
}
.sec1
{
    background-image: url('/static/images/inside.jpg');
    height: 100vh;
}
#username-displayed
{
    color: #F2F2F2;
    background-color: #d37c02;
    font-size: 50px;
    margin-top: 150px;
}
.delete-account
{
    width: 10%;
    background-color: rgba(120, 16, 16, 0.878);
    color: white;
}
.add-body , .update-body
{
    background-image: url('/static/images/inside.jpg');
    color: azure;
}
.flash-message {
    border: 1px solid #1E1E1E;
    padding: 10px;
    margin: 10px 0;
    color: white;
}
.flash-message.error {
    border-color: red;
    color: red;
    background-color: azure;
}
.flash-message.success {
    border-color: green;
    color: green;
    background-color: azure;
}
.mov
{
    width: 95%;
    margin-inline: auto;
}
