<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
    <script>
        window.onload = function() {
            // Convert Flask flash messages to JSON
            var error = "{{ get_flashed_messages(with_categories=True) | tojson }}";
            if (error) {
                alert("Movie with this ID already exists"); // Display the first error message
            }
        };
    </script>
</head>
<body>
    <h1>Movie List</h1>
    <button onclick="addMovie()"></button>
    <form action="/add" method="post">
        <label for="id">Movie Id:</label>
        <input type="text" name="id" id="id">
        <label for="thumbnail">Movie Image URL:</label>
        <input type="text" name="thumbnail" id="thumbnail">
        <label for="moviename">Movie Name:</label>
        <input type="text" name="moviename" id="moviename">
        <label for="description">Movie Description:</label>
        <input type="text" name="description" id="description">
        <label for="rating">Movie Rating:</label>
        <input type="text" name="rating" id="rating">
        <input type ="submit" name = "Submit">
    </form>
</body>
</html>
