<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">    

</head>
<body>

    <div class="container">
        <div class="form-container">
            <h2>Login</h2>
            <form id="loginForm" action="/" method="post" class="auth-form">
                {% if validation_message %}
                    <span class="warning">{{ validation_message }}</span><br>
                {% endif %}
                <input id="userEmail" type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" id="password" required><br>
                <input id="loginButton" type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>